@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.card {
  display: flex;
  justify-content: center;
  margin-top: 36px;
}

.cardImg {
  height: 240px;
  width: 280px;
  border-radius: 5px;
  object-fit: cover;
}

.content {
  display: flex;
  align-items: baseline;
  margin-top: 10px;
}

.pointer {
  margin: 0;
  margin-left: 16px;
  height: 12px;
}

.projectTitle {
  color: #815481;
  margin-left: 18px;
  font-size: 36px;
  font-family: Inter, sans-serif;
  letter-spacing: 0.05em;
}

.languages {
  color: #422842;
  margin-left: 18px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.description {
  margin-left: 18px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 18px;
  max-width: 326px;
  line-height: 150%
}
