@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.card {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.cardImg {
  height: 168px;
  width: 125px;
  border-radius: 5px;
  object-fit: cover
}

.content {
  display: flex;
  align-items: baseline;
  margin-top: 10px;
}

.pointer {
  margin: 0;
  margin-left: 16px;
  height: 12px;
}

.countryText {
  margin: 0;
  margin-left: 4px;
  font-family: Inter, sans-serif;
  letter-spacing: 0.17em;
}

.countryLink {
  margin-left: 12px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 10px;
  text-decoration-line: underline;
  color: #918E9B;
}

.locationText {
  margin-left: 19px;
  margin-top: 7px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.dates {
  margin-left: 19px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 11px;
}

.description {
  margin-left: 19px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 10px;
  max-width: 326px;
  line-height: 150%
}
