@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, Inter, sans-serif;
  min-height: 50px; 
  margin-top: auto;
  font-size: 18px;
}

.github {
  margin-left: 8px;
  height: 18px;
  width: 18px;
}