@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.navbar {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #F55A5A;
  height: 60px;
  display: flex;
  justify-content: center
}

.logo {
  width: 24px;
  height: 24px;
  margin-top: 16px
}

.navText {
  color: white;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin-left: 7px;
  margin-top: 20px
}
