html {
  background: rgb(255,227,239);
  background: linear-gradient(90deg, rgb(255, 234, 243) 0%, rgba(131, 221, 248, 0.27) 100%);
}

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

.card {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px;
}
