html {
  background: rgb(255,232,242);
  background: linear-gradient(70deg, rgba(255,232,242,1) 0%, rgba(0,190,247,0.13) 60%);
}

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

.card {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px;
}
